body{
    background: rgb(4,4,4) no-repeat fixed bottom;
    background-image: url(pic/cb0bg.png);
    transition: background-image .9s linear .7s;
}
.top{
    display: flex;
    flex-direction: column;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 44px;
    text-align: center;
    color: rgba(233, 225, 225, 0.582) ;
    margin: 0 0;
    padding: 5% auto;
    border-radius: 15px;
    background-color: rgba(160, 160, 160, 0.068);
    transition: background-color .4s linear .15s;
}
.top:hover{
    background-color: rgba(160, 160, 160, 0.637); 
}
.top h2{
    margin: 2% auto;
}
.top img{
    margin: 12% auto 3%;
    width: 171px;
    border-radius: 177px;
}
.container{
    display: flex;
    flex-direction: column;
    color: rgb(57, 59, 61);
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 90%;
    margin: 5% 2%;
    border-radius: 10px;
    padding: 3%;
}
.container img{
    width: 177px;
}
.container_block{
    display: flex;
    min-height: 200px;
    background-color: rgba(236, 234, 234, 0.425);
    margin: 5%;
    border-radius: 18px;
    padding: 2%;
    transition: min-height .47s ease-out .1s,
        background-color .57s ease-out .1s;
}
.container_block:hover{
    min-height: 200px;
    background-color: rgba(236, 234, 234, 0.719);
}
.container_block_item{
    margin: auto 2%;
}
.map{
    widows: 400px;
    height: 400px;
}
.bottom{
    display: flex;
    height: 63px;
    margin-top: 10%;
    background-color: rgb(78, 78, 78);
    color: black;
    font-size: 23px;
}
.bottom h5{
    margin: auto;
}
@media screen and (max-width: 700px){
    .container_block{
    flex-direction: column;
    }
    .container_block_item{
        margin: auto auto;
    }
}