<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="index.js" defer></script>
    </head>
    <body>
        <top class="top">
           <img src="pic/picc.JPG">
           <h2>Mark Chin</h2>
           <h3>Keep Trying</h3>
        </top>
        <div id="app">
            <div class="container">
                <div class="container_block">
                  <h3>Skill</h3>
                  <ul>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>JavaScript</li>
                  </ul> 
                </div>
                <div class="container_block">
                  <h3>Works</h3>  
                </div>
                <div v-for="block in blockcontainer" 
                    v-bind:title="title" 
                    v-bind:paragraph="blockcontainer">
                </div>        
            </div>
         <div class="input"> 
                <h3>title</h3>          
                <input type="text" v-model="title">
                <h3>paragraph</h3>
                <input type="text" v-model="newblock">
                <button v-on:click="blockcontainer.push(newblock)">Send</button> 
            </div>
       </div> 
    </body>
</html>