body{
    background-color: rgb(92, 92, 92);
}
.container{
    background-color: rgba(212, 188, 188, 0.493);
    color: aliceblue;
    min-height: 90%;
    margin: 5% 8%;
    border-radius: 10px;
    padding: 3%;
    transition: background-color 3.9 ease-in .2;
}
.container:hover{
    background-color: rgba(126, 112, 112, 0.959);
}
.input{
    display: flex;
    flex-direction: column;
    background-color: rgba(214, 198, 198, 0.438);
    color: aliceblue;
    font-size: 33px;
    min-height: 99%;
    margin: 25% 8%;
    padding: 2%;
    border-radius: 10px;
}
.input:hover{
    background-color: rgba(102, 94, 94, 0.925);
}
.input input{
    margin: 1%;
}
