body{
    background-color: rgb(235, 235, 235);
}
.top{
    display: flex;
    flex-direction: column;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgba(233, 225, 225, 0.582);
    margin: 0;
    padding: 5% auto;
    border-radius: 5px;
    background: url('pic/top.jpg') no-repeat center;
    background-attachment: scroll;
}
.top img{
    margin: 12% auto 7%;
    border-radius: 77px;
}
.container{
    background-color: rgba(212, 188, 188, 0.493);
    color: aliceblue;
    min-height: 90%;
    margin: 5% 8%;
    border-radius: 10px;
    padding: 3%;
    transition: background-color 3.9 ease-in .2;
}
.container:hover{
    background-color: rgba(126, 112, 112, 0.959);
}
.input{
    display: flex;
    flex-direction: column;
    background-color: rgba(214, 198, 198, 0.438);
    color: aliceblue;
    font-size: 33px;
    min-height: 99%;
    margin: 25% 8%;
    padding: 2%;
    border-radius: 10px;
}
.input:hover{
    background-color: rgba(102, 94, 94, 0.925);
}
.input input{
    margin: 1%;
}
