<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./Portfolio1.css">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./Portfolio1.js" defer></script>
</head>
<body>
  <div id="app">
    <header>
      <img class="logo" src="./pic/svy.svg" width="40" alt="logo">
      <h1>Satisfaction Survey</h1>
    </header>
    <form v-on:reset="resetFields" v-on:submit="submitForm">
      <div class="form-row">
        <div class="form-field">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" v-model.trim="firstName" />
        </div>
        <div class="form-field">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" v-model.trim="lastName" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email" v-model.trim="email" v-bind:class="[requiredFieldClass,emailClasses]"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="Grade">Grade</label>
          <select id="Grade" v-model.number="Grade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-field">
          <legend>Gender</legend>
          <div>
            <input type="radio" id="male" value="male" v-model="gender">
            <label for="male">Male</label>
          </div>
          <div>
            <input type="radio" id="female" value="female" v-model="gender">
            <label for="female">Female</label>
          </div>
        </div>
      </div>
      <div class="form-row checkbox">
        <fieldset>
          <legend>How did you hear about this event?</legend>
          <div>
            <input type="checkbox" id="friend" value="friend" v-model="referrals">
            <label for="friend">Friend</label>
          </div>
          <div>
            <input type="checkbox" id="poster" value="poster" v-model="referrals">
            <label for="poster">Poster</label>
          </div>
          <div>
            <input type="checkbox" id="flyer" value="flyer" v-model="referrals">
            <label for="flyer">Flyer</label>
          </div>
          <div>
            <input type="checkbox" id="social-media" value="social" v-model="referrals">
            <label for="social-media">Social Media</label>
          </div>
        </fieldset>
        <fieldset>
            <legend>Lecture 1</legend>
            <div>
              <input type="radio" id="good" value="good" v-model="lecture1">
              <label for="good">Good</label>
            </div>
            <div>
              <input type="radio" id="normal" value="normal" v-model="lecture1">
              <label for="normal">Normal</label>
            </div>
            <div>
              <input type="radio" id="bad" value="bad" v-model="lecture1">
              <label for="bad">Bad</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Lecture 2</legend>
            <div>
              <input type="radio" id="good" value="good" v-model="lecture2">
              <label for="good">Good</label>
            </div>
            <div>
              <input type="radio" id="normal" value="normal" v-model="lecture2">
              <label for="normal">Normal</label>
            </div>
            <div>
              <input type="radio" id="bad" value="bad" v-model="lecture2">
              <label for="bad">Bad</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Lecture 3</legend>
            <div>
              <input type="radio" id="good" value="good" v-model="lecture3">
              <label for="good">Good</label>
            </div>
            <div>
              <input type="radio" id="normal" value="normal" v-model="lecture3">
              <label for="normal">Normal</label>
            </div>
            <div>
              <input type="radio" id="bad" value="bad" v-model="lecture3">
              <label for="bad">Bad</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Lecture 4</legend>
            <div>
              <input type="radio" id="good" value="good" v-model="lecture4">
              <label for="good">Good</label>
            </div>
            <div>
              <input type="radio" id="normal" value="normal" v-model="lecture4">
              <label for="normal">Normal</label>
            </div>
            <div>
              <input type="radio" id="bad" value="bad" v-model="lecture4">
              <label for="bad">Bad</label>
            </div>
          </fieldset>
      </div>
      <div class="form-row vertical">
        <label for="requests">Any Suggestion</label>
        <textarea id="requests" v-model.trim="specialRequests"></textarea>
      </div>
      <div>
        <button type="reset" class="reset">Reset</button>
        <button type="submit" v-bind:disabled="!formIsValid" v-bind:style="submitButtonStyles">Submit</button>
      </div>
    </form>
  </div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#config-web-app -->

  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
  apiKey: "AIzaSyDcjed2KZEtVxCISVfNh8YFzxVQQr_XsUc",
  authDomain: "omega-baton-247517.firebaseapp.com",
  databaseURL: "https://omega-baton-247517.firebaseio.com",
  projectId: "omega-baton-247517",
  storageBucket: "",
  messagingSenderId: "606063863233",
  appId: "1:606063863233:web:5f866e5d21b9c3bd"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  </script>    
</body>
</html>