body
    font: 37px sans-serif, Verdana
    color: white 
    background-attachment: fixed;
    background-position: 40% top 
    background-size: cover;
    background-image url(./img/bgimg.jpg)
.nav
    display: flex
    background-color: rgba(131, 131, 131, 0.521)
    justify-content: space-around
    a
        color: rgba(240, 240, 240, 0.76)
        font-family: Arial-Black,Papyrus
        text-decoration: none
        transition: text-shadow .2s linear .1s,
                    color .2s linear .1s
        &:hover
            text-shadow: 2px 2px 3px rgba(53, 53, 53, 0.521)
            color: rgba(240, 240, 240, 0.99)

.container
    position: relative
    display: flex
    justify-content: center
    .innerpage 
        position: absolute
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        width: 83vw
        height: 78vh
        margin-top: 3%
        font-size: 59%
        background-color: rgba(131, 131, 131, 0.521)
        opacity 0
        transform: translateX(100px)
        transition: opacity .7s ease-out .2s,
                    transform .7s ease-out .2s
        .page1img
            height: 67%
            width: 49%
            background-image url(./img/homeimg1.jpg) 
            background-size: cover
            animation: page1imgRound 18s linear .2s infinite 
        .section
            height: 67%
            width: 34%
            background-image url(./img/sectionimg.jpg) 
            background-size cover
            border-radius: 25px
            padding-left: 4%
            margin-left: 2%    
        &:nth-child(2),&:nth-child(3),&:nth-child(4)
            background-color:rgba(131, 131, 131, 0.481)
            flex-direction: column
            align-items: flex-start
            .section
                width: 41%
                height 44%
                padding-left: 2%
                margin-left: 2%
        &:nth-child(2),&:nth-child(4)
            .section
                width: 93%
                background-image url(./img/newsbar.jpg)
        &:nth-child(5)
            .section
                height: 67vh
                width: 41%

        &:target
            opacity 1
            transform: translate(0)
table
    width: 97% 
    margin-top: 2%
    border-collapse: collapse
    background-color rgba(63, 63, 63, 0.741)
th  
    width: 1%
    padding: 1%
    text-align: center
    border 1px solid #ffffff  
#map,.mailblock         
    width: 93%
    height 67%
.mailblock section
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
.mailblock img 
    width: 16%   
#menu-1
    background-image url(./img/menu-burger.jpg)
#menu-2
    background-image url(./img/menu-sand.jpg)
#menu-3
    background-image url(./img/menu-pasta.jpg)
#menu-4
    background-image url(./img/menu-drink.jpg)
@keyframes page1imgRound
    0%
        background-image url(./img/homeimg1.jpg)
    20%
        background-image url(./img/homeimg1.jpg)
    25%    
        background-image url(./img/homeimg2.jpg)  
    45%
        background-image url(./img/homeimg2.jpg)
    50%
        background-image url(./img/homeimg3.jpg)
    70%
        background-image url(./img/homeimg3.jpg)
    75%    
        background-image url(./img/homeimg4.jpg)
    95%    
        background-image url(./img/homeimg4.jpg)
@media screen and (max-width:990px) and (min-width:770px) 
    body
        font-size: 29px
    
@media screen and (max-width:770px)
    body
        font-size: 22px
    .nav
        flex-direction: column
        align-items: center
        height 95vh
        width 15vw
    tbody
        display flex 
        justify-content: space-around
        align-items: center
    th
        display: block
        width: 100%
        border: 0    
    .container
        position: absolute
        top 5vh
        left 58vw
        .innerpage 
            width 72vw
            height: 90vh
            transform: translateX(30px)
            .section,.page1img,&:nth-child(5) .section
                background-position right 30% 
                height 37%
                width: 90%
            &:nth-child(3) .section

                height 24%
                width: 90%


